<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>RevatureProject1</display-name>
  <welcome-file-list>
    <welcome-file>Register.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!--  servlet tag for configuring servlet -->
  <servlet>
  	<servlet-name>InsertServlet</servlet-name>
  	<servlet-class>com.revature.servlet.InsertServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>DeleteServlet</servlet-name>
  	<servlet-class>com.revature.servlet.DeleteServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/Remove</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>UpdateServlet</servlet-name>
  	<servlet-class>com.revature.servlet.UpdateServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>TableServlet</servlet-name>
  	<servlet-class>com.revature.servlet.TableServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>TableServlet</servlet-name>
    <url-pattern>/Table</url-pattern>
  </servlet-mapping>
  
</web-app>